<ul class="dropdown-menu dropdown-menu-end mt-2 pb-0">
  {{ with .Site.Data.navbar_apps }}
  {{ range . }}
  <li class="border-bottom">
    <a class="dropdown-item py-3 pe-2" href="{{- .url -}}" target="_blank" rel="noopener">
      <div class="d-flex">
        <div class="col-2 text-center">
          {{ with .icon }}
          <img src="{{- . -}}" class="filter-greyscale opacity-75" height="18" width="18" alt="">
          {{ end }}
        </div>
        <div class="col-9 align-self-center">
          {{- .title }}
          <svg class="filter-greyscale opacity-50" width="14" height="14" fill="currentColor">
            <use xlink:href="/modus-solid-icons.svg#external-link" />
          </svg>
        </div>
      </div>
    </a>
  </li>
  {{ end }}
  {{ end }}
</ul>
