{{ define "main" }}

<div class="container-fluid">
  <div class="row row-main px-0">
    <div class="col col-auto px-0 collapse collapse-horizontal bg-dark bg-opacity-10" id="sidebar">
      <div id="sidebar-menu" class="z-2 sticky-top sticky-offset shadow-sm overflow-auto w-100">
        {{ partial "col-sidebar-menu" . }}
      </div>
    </div>

    <div class="col col-main border-start border-secondary border-opacity-10 p-0 overflow-x-hidden">

      <main id="main" class="container">

        {{ .Content }}

      </main>

      <footer class="p-2 footer py-4 bg-secondary bg-opacity-10 border-top border-secondary border-opacity-25">
        {{ partial "footer" . }}
      </footer>
    </div>

  </div>
</div>
{{- end -}}
