.col-sidebar {
  width: 64px !important;
}

.col-sidebar .list-group {
  height: calc(100dvh - 66px);
}

[data-bs-theme="light"] {
  .col-sidebar a.btn:hover,
  .col-sidebar button:hover {
    background-color: #e0e1e9 !important;
  }
}

[data-bs-theme="dark"] {
  .col-sidebar a.btn:hover,
  .col-sidebar button:hover {
    background-color: #424649 !important;
  }
}

.col-sidebar button.list-group-item {
  height: 48px;
  margin-left: 6px;
  width: 48px;
}
