/* iPhone 6/7/8 */
@media (max-width: 375px) {
  #sidebar-menu {
    min-width: 250px;
  }

  #sidebar.collapsing + div,
  #sidebar.show + div {
    display: none;
  }
}

/* iPhone 6+/7+/8+ */
@media (min-width: 376px) and (max-width: 414px) {
  #sidebar-menu {
    min-width: 305px;
  }

  #sidebar.collapsing + div,
  #sidebar.show + div {
    display: none;
  }
}

/* XS */ /* stylelint-disable-next-line */
@media (max-width: 575px) {
}

/* SM */
@media (max-width: 767px) {
  #sidebar.show {
    min-width: calc(100% - 68px) !important;
    width: calc(100% - 68px) !important;
  }

  #sidebar.show + div {
    display: none !important;
    width: 0;
  }

  #sidebar.collapsing {
    transition: none !important;
  }
}

/* SM Only */
@media (min-width: 575px) and (max-width: 767px) {
  #sidebar-menu .list-unstyled li {
    display: inline-block;
    width: 50%;
  }
}
