html[data-bs-theme="dark"] {
  nav.navbar-blue .dropdown-menu img {
    filter: invert(1);
  }
}

.navbar-site-title {
  margin-top: 12px;
}

nav.navbar-blue {
  label.btn,
  button.btn {
    border-color: transparent !important;

    &:hover {
      background-color: #217cbb !important;
      border-color: #019aeb;
      border: 1px solid #019aeb !important;
    }
  }
}

nav.navbar-blue .dropdown-menu {
  min-width: 250px;
  z-index: 1030;
}
