html[data-bs-theme="dark"] {
  .dropdown-menu img {
    filter: invert(1);
  }
}

.navbar-site-title {
  margin-top: 12px;
}

nav.navbar label.btn:hover,
nav.navbar button.btn:hover {
  background-color: #217cbb !important;
  border-color: #019aeb;
  border: 1px solid #019aeb !important;
}
