// blog posts
header.header-blog {
  aspect-ratio: 21/9;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  max-height: 600px;
  min-height: 90px;
}

.share svg {
  opacity: 0.8;
}

.share svg:hover {
  opacity: 0.6;
}
