/* XXL */
@media (min-width: 3400px) {
  nav button .menu-btn {
    opacity: 0.1;
  }
  button[data-bs-target="#sidebar"] {
    pointer-events: none !important;
  }
  #sidebar.show {
    pointer-events: auto !important;
  }
}
